# DataFrames

In [13]:
import pandas as pd
import numpy as np

In [14]:
from numpy.random import randn

In [18]:
np.random.seed(15)
myrandn = randn(5,4)
myrandn

array([[-0.31232848,  0.33928471, -0.15590853, -0.50178967],
       [ 0.23556889, -1.76360526, -1.09586204, -1.08776574],
       [-0.30517005, -0.47374837, -0.20059454,  0.35519677],
       [ 0.68951772,  0.41058968, -0.56497844,  0.59939069],
       [-0.16293631,  1.6002145 ,  0.6816272 ,  0.0148801 ]])

In [19]:
np.random.seed(102)
df = pd.DataFrame(myrandn,index='A B C D E'.split(),columns='W X Y Z'.split())

In [11]:
df

          W         X         Y         Z
A -0.312328  0.339285 -0.155909 -0.501790
B  0.235569 -1.763605 -1.095862 -1.087766
C -0.305170 -0.473748 -0.200595  0.355197
D  0.689518  0.410590 -0.564978  0.599391
E -0.162936  1.600215  0.681627  0.014880

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [23]:
df[  ['W']  ]

          W
A -0.312328
B  0.235569
C -0.305170
D  0.689518
E -0.162936

In [24]:
# Pass a list of column names
df[ ['W','Z'] ]

          W         Z
A -0.312328 -0.501790
B  0.235569 -1.087766
C -0.305170  0.355197
D  0.689518  0.599391
E -0.162936  0.014880

In [25]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A   -0.312328
B    0.235569
C   -0.305170
D    0.689518
E   -0.162936
Name: W, dtype: float64

DataFrame Columns are just Series

In [33]:
mys = df['W']

In [34]:
type(mys)

pandas.core.series.Series

In [37]:
mydf = df[ ['W'] ]

In [38]:
type(mydf)

pandas.core.frame.DataFrame

**Creating a new column:**

In [40]:
df['new'] = df['W'] + df['Y']

In [41]:
df

          W         X         Y         Z       new
A -0.312328  0.339285 -0.155909 -0.501790 -0.468237
B  0.235569 -1.763605 -1.095862 -1.087766 -0.860293
C -0.305170 -0.473748 -0.200595  0.355197 -0.505765
D  0.689518  0.410590 -0.564978  0.599391  0.124539
E -0.162936  1.600215  0.681627  0.014880  0.518691

** Removing Columns**

In [44]:
df.drop('new',axis=1)

          W         X         Y         Z       new
B  0.235569 -1.763605 -1.095862 -1.087766 -0.860293
C -0.305170 -0.473748 -0.200595  0.355197 -0.505765
D  0.689518  0.410590 -0.564978  0.599391  0.124539
E -0.162936  1.600215  0.681627  0.014880  0.518691

In [45]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A -0.312328  0.339285 -0.155909 -0.501790 -0.468237
B  0.235569 -1.763605 -1.095862 -1.087766 -0.860293
C -0.305170 -0.473748 -0.200595  0.355197 -0.505765
D  0.689518  0.410590 -0.564978  0.599391  0.124539
E -0.162936  1.600215  0.681627  0.014880  0.518691

In [46]:
df.drop('new',axis=1,inplace=True)

In [47]:
df

          W         X         Y         Z
A -0.312328  0.339285 -0.155909 -0.501790
B  0.235569 -1.763605 -1.095862 -1.087766
C -0.305170 -0.473748 -0.200595  0.355197
D  0.689518  0.410590 -0.564978  0.599391
E -0.162936  1.600215  0.681627  0.014880

Can also drop rows this way:

In [50]:
df.drop('E',axis=0)

          W         X         Y         Z
A -0.312328  0.339285 -0.155909 -0.501790
B  0.235569 -1.763605 -1.095862 -1.087766
C -0.305170 -0.473748 -0.200595  0.355197
D  0.689518  0.410590 -0.564978  0.599391

In [51]:
df.loc['A']

W   -0.312328
X    0.339285
Y   -0.155909
Z   -0.501790
Name: A, dtype: float64

** Selecting Rows**

Or select based off of position instead of label

In [52]:
df.iloc[2]

W   -0.305170
X   -0.473748
Y   -0.200595
Z    0.355197
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [19]:
df

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

In [20]:
df.loc['B','Y']

np.float64(-0.5098449678999922)

In [21]:
df.loc[ ['A','B'], ['W', 'X'] ]

          W         X
A  1.668068  0.925862
B  1.299748  0.331183

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [54]:
df

          W         X         Y         Z
A -0.312328  0.339285 -0.155909 -0.501790
B  0.235569 -1.763605 -1.095862 -1.087766
C -0.305170 -0.473748 -0.200595  0.355197
D  0.689518  0.410590 -0.564978  0.599391
E -0.162936  1.600215  0.681627  0.014880

In [55]:
df>0

       W      X      Y      Z
A  False   True  False  False
B   True  False  False  False
C  False  False  False   True
D   True   True  False   True
E  False   True   True   True

In [24]:
df[df>0]

          W         X         Y         Z
A  1.668068  0.925862  1.057997       NaN
B  1.299748  0.331183       NaN       NaN
C       NaN       NaN  0.973165       NaN
D       NaN       NaN       NaN  1.042387
E       NaN  0.136120       NaN  0.050980

In [56]:
df[df['W']>0]

          W         X         Y         Z
B  0.235569 -1.763605 -1.095862 -1.087766
D  0.689518  0.410590 -0.564978  0.599391

In [60]:
df1 = df[df['W']>0]

In [63]:
df1['Y']

B   -1.095862
D   -0.564978
Name: Y, dtype: float64

In [64]:
df[df['W']>0]['Y']

B   -1.095862
D   -0.564978
Name: Y, dtype: float64

In [65]:
df[df['W']>0][['Y','X']]['X']

          Y         X
B -1.095862 -1.763605
D -0.564978  0.410590

For two conditions you can use | and & with parenthesis:

In [69]:
df['X']

          W         X         Y         Z
A -0.312328  0.339285 -0.155909 -0.501790
B  0.235569 -1.763605 -1.095862 -1.087766
C -0.305170 -0.473748 -0.200595  0.355197
D  0.689518  0.410590 -0.564978  0.599391
E -0.162936  1.600215  0.681627  0.014880

In [76]:
df[ (df['W']>0) | df['W']>0) ]

TypeError: Cannot perform 'ror_' with a dtyped [float64] array and scalar of type [bool]